.container
  .page-header
    %h1
      Edit Cadet
  .row
    .col-md-offset-3.col-md-6
      .panel.panel-default
        .panel-body
          = render 'form', user: @user

  .row.text-center
    = link_to 'Return to cadets', users_path, class: 'btn btn-default'