%hr
.row
  .col-md-4
    .panel.panel-default
      .panel-body
        %h3.lead
          \#2 Physical Fitness Assessment average in the nation
      .panel-footer
        %strong Spring 2016
  .col-md-4
    .panel.panel-default
      .panel-body
        %h3.lead
          \#1 Physical Fitness Assessment average in the nation
      .panel-footer
        %strong Fall 2015
  .col-md-4
    .panel.panel-default
      .panel-body
        %h3.lead
          AFROTC Northwest Region Right of Line winner -
          %br
          top medium-sized detachment in Northwest Region
      .panel-footer
        %strong 2013-2014
.row
  .col-md-4
    .panel.panel-default
      .panel-body
        %h3.lead
          \#1 Physical Fitness Assessment average in the nation
      .panel-footer
        %strong Fall 2012, Spring 2013, & Spring 2014
  .col-md-4
    .panel.panel-default
      .panel-body
        %h3.lead
          AFROTC Northwest Region Company Grade Officer, Instructor, and Recruiting Flight Commander of the Year -
          %br
          Capt Scott Paeth
      .panel-footer
        %strong 2013
  .col-md-4
    .panel.panel-default
      .panel-body
        %h3.lead
          AFROTC Northwest Region Non-Commissioned Officer of the Year -
          %br
          TSgt Raul Dominguez
      .panel-footer
        %strong 2013
.row
  .col-md-offset-4.col-md-4
    .panel.panel-default
      .panel-body
        %h3.lead
          AFROTC Right of Line winner -
          %br
          top small-sized detachment in the nation
      .panel-footer
        %strong 2011       