<hr/>
<div class="awards">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="lead">
            #2 Physical Fitness Assessment average in the nation
          </h3>
        </div>
        <div class="panel-footer">
          <strong>Spring 2016</strong>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="lead">
            #1 Physical Fitness Assessment average in the nation
          </h3>
        </div>
        <div class="panel-footer">
          <strong>Fall 2015</strong>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="lead">
            AFROTC Northwest Region Right of Line winner -
            <br/>
            top medium-sized detachment
          </h3>
        </div>
        <div class="panel-footer">
          <strong>2013-2014</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="lead">
            #1 Physical Fitness Assessment average in the nation
          </h3>
        </div>
        <div class="panel-footer">
          <strong>Fall 2012, Spring 2013, &amp; Spring 2014</strong>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="lead">
            AFROTC Northwest Region Company Grade Officer, Instructor, and Recruiting Flight Commander of the Year -
            <br/>
            Capt Scott Paeth
          </h3>
        </div>
        <div class="panel-footer">
          <strong>2013</strong>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="lead">
            AFROTC Northwest Region Non-Commissioned Officer of the Year -
            <br/>
            TSgt Raul Dominguez
          </h3>
        </div>
        <div class="panel-footer">
          <strong>2013</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="lead">
            AFROTC Right of Line winner -
            <br/>
            top small-sized detachment in the nation
          </h3>
        </div>
        <div class="panel-footer">
          <strong>2011</strong>
        </div>
      </div>
    </div>
  </div>
</div>
