<div class="tab-pane fade" id="greenhow">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <img class="img-responsive center-block" src="/cadre/greenhow.jpg"/>
      <h2 class="text-center">Technical Sergeant Shervon A. Greenhow</h2>
      <p>
        Technical Sergeant Shervon Greenhow is the NCOIC of KOM, Air Force ROTC Detachment 925, University of Wisconsin-Madison. She attended Windsor Forest High School in Savannah, Georgia. After graduating from high school, Sergeant Greenhow enlisted in the Air Force in May, 1997. She has had numerous outstanding accomplishments from being selected as Information Manager of the Quarter and Outstanding Unit Awards. She is working on completing her Community College of the Air Force Degree in Information Technology.  
      </p>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_greenhow_education">Education</a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapse_greenhow_education">
            <div class="panel-body">
              <ul>
                <li>May 1997 - June 1997: Basic Training, Lackland AFB, TX</li>
                <li>June 1997 - September 1997: Information Management Technical Training, Keesler AFB, MS</li>
                <li>September 1997 - October 2002: 437 Communications Squadron, Charleston AFB, SC</li>
                <li>October 2002 - April 2007: 3 Air Maintenance Squadron-Armament Flt, Elmendorf AFB, AK</li>
                <li>July 2004 - July 2004: Information Management 7 level Technical Training, Keesler AFB, MS</li>
                <li>August 2005 - January 2006: Communications Squadron, Ali Al Salem, Kuwait</li>
                <li>May 2007 - February 2009: 744 Communications Group, Bolling AFB, DC</li>
                <li>February 2009 - August 2012: 744 Communications Squadron, Andrews AFB, MD</li>
                <li>August 2009 - November 2009: Bragram AB, Afghanistan</li>
                <li>Aug 2012 - Present: AFROTC Detachment 925, University of Wisconsin-Madison, Wisconsin</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_greenhow_assignments">Assignments</a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapse_greenhow_assignments">
            <div class="panel-body">
              <ul>
                <li>Air Force Achievement Medal (2 Oak Leaf Clusters)</li>
                <li>Meritorious Unit Award</li>
                <li>AF Outstanding Unit Award (4 Oak Leaf Cluster)</li>
                <li>AF Good Conduct Medal (3 Oak Leaf Clusters)</li>
                <li>National Defense Service Medal</li>
                <li>Global War on Terrorism Expeditionary Medal</li>
                <li>Global War on Terrorism Service Medal</li>
                <li>Air Force Expeditionary Service Ribbon</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_greenhow_awards">Awards and Decoration </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapse_greenhow_awards">
            <div class="panel-body">
              <ul>
                <li>Airman Basic: May 07, 1997</li>
                <li>Airman: Nov 7, 1997</li>
                <li>Airman First Class: September 7, 1998</li>
                <li>Senior Airman: May 7, 2000</li>
                <li>Staff Sergeant: April, 1, 2002</li>
                <li>Technical Sergeant: August 1, 2012      </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
