<div class="tab-pane fade" id="hernandez">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <img class="img-responsive center-block" src="/cadre/hernandez.jpg"/>
      <h2 class="text-center">Technical Sergeant Justin Hernandez</h2>
      <p>
        Technical Sergeant Justin Hernandez is the personnel NCOIC for the Air Force ROTC Detachment 925, University of Wisconsin-Madison. He enlisted in the Air Force on 17 July 2001, shortly after graduating from Billings West High School in Billings, Montana. Sergeant Hernandez began his career as a crew chief on the E-3 Sentry aircraft before cross training into the personnel career field in 2007. His time in personnel has been spent providing force support in multiple roles to include commander support staff, enlisted/officer evaluations, personnel readiness, and casualty services.
      </p>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_hernandez_education">Education</a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapse_hernandez_education">
            <div class="panel-body">
              <ul>
                <li>2007 Airman Leadership School</li>
                <li>2013 Associate Degree in Aviation Maintenance Technology, Community College of the Air Force</li>
                <li>2013 Associate Degree in Human Resource Management, Community College of the Air Force</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_hernandez_assignments">Assignments</a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapse_hernandez_assignments">
            <div class="panel-body">
              <ul>
                <li>May 2002 - July 2007: E-3 Crew Chief, Tinker AFB, OK</li>
                <li>July 2007 - May 2008: Commander Support Staff, Tinker AFB, OK</li>
                <li>May 2008 - July 2010: Enlisted/Officer Evaluations, Tinker AFB, OK</li>
                <li>July 2010 - Mar 2011: Personnel Readiness Cell, Randolph AFB, TX</li>
                <li>Mar 2011 - October 2014: Air Force Casualty Services, Randolph AFB, TX</li>
                <li>October 2014 - Present: AFROTC Detachment 925, University of Wisconsin-Madison, Wisconsin</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_hernandez_awards">Awards and Decoration </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapse_hernandez_awards">
            <div class="panel-body">
              <ul>
                <li>Air Force Commendation Medal (2 Oak Leaf Clusters)</li>
                <li>Army Commendation Medal</li>
                <li>Air Force Achievement Medal</li>
                <li>Meritorious Unit Award (1 Oak Leaf Cluster)</li>
                <li>Air Force Outstanding Unit Award w/ Valor Device (2 Oak Leaf Clusters)</li>
                <li>Air Force Good Conduct Medal (3 Oak Leaf Clusters)</li>
                <li>National Defense Service Medal</li>
                <li>Global War on Terrorism Expeditionary Medal</li>
                <li>Global War on Terrorism Service Medal</li>
                <li>Air Force Overseas Short Tour Ribbon</li>
                <li>Air Force Expeditionary Service Ribbon w/ Gold Border</li>
                <li>Air Force Longevity Service Ribbon (2 Oak Leaf Clusters)</li>
                <li>USAF NCO PME Graduate Ribbon</li>
                <li>Small Arms Expert Marksmanship Ribbon (Rifle)</li>
                <li>Air Force Training Ribbon     </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_hernandez_promotions">Effective Dates of Promotion</a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapse_hernandez_promotions">
            <div class="panel-body">
              <ul>
                <li>Airman Basic: 17 July 2001</li>
                <li>Airman First Class: 3 September 2001</li>
                <li>Senior Airman: 3 January 2004</li>
                <li>Staff Sergeant: 1 October 2007</li>
                <li>Technical Sergeant: 1 December 2013      </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
