<div class='tab-pane fade' id='mitrosz'>
  <img class="img-responsive center-block" src="/cadre/mitrosz.jpg"/>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <h2 class='text-center'>Captain Thomas A. Mitrosz</h2>
      <p>
        Captain Thomas A. Mitrosz is currently the Operations Flight Commander at Detachment 925 AFROTC, University of Wisconsin, Madison. His job responsibilities include overseeing the cadet training program and management of all detachment recruiting and scholarship efforts. Also, he instructs the AS 100 &amp; AS 200 course at UW Madison and UW Whitewater.
      </p>
      <p>
        Captain Mitrosz earned his commission through the Air Force Reserve Officer Training Corps at the Illinois Institute of Technology Detachment 195. He has aircraft maintenance experience on the E-4B and OC/RC/WC-135 aircraft.
      </p>
      <div class='panel-group'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <h4 class='panel-title'>
              <a data-toggle='collapse' href='#collapse_mitrosz_education'>Education</a>
            </h4>
          </div>
          <div class='panel-collapse collapse' id='collapse_mitrosz_education'>
            <div class='panel-body'>
              <ul>
                <li>2009 Associate in Arts, Criminal Justice, College of DuPage, Glen Ellyn, Illinois</li>
                <li>2011 Bachelor of Arts, Criminology, Law, and Justice, University of Illinois at Chicago, Chicago, Illinois</li>
                <li>2015 Master of Arts, Criminal Justice, American Military University, Charles Town, West Virginia</li>
              </ul>
            </div>
          </div>
        </div>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <h4 class='panel-title'>
              <a data-toggle='collapse' href='#collapse_mitrosz_assignments'>Assignments</a>
            </h4>
          </div>
          <div class='panel-collapse collapse' id='collapse_mitrosz_assignments'>
            <div class='panel-body'>
              <ul>
                <li>December 2011 - March 2013: Asst. OIC, 83rd Aircraft Maintenance Unit, 55th Aircraft Maintenance Squadron, Offutt AFB, Nebraska (Deployed to OEF March 2013 – July 2013)</li>
                <li>August 2013 - May 2014: Asst. OIC, 1st Aircraft Maintenance Unit, 55th Aircraft Maintenance Squadron, Offutt AFB, Nebraska</li>
                <li>June 2014 - November 2014: Officer in Charge, 1st Aircraft Maintenance Unit, 55th Aircraft Maintenance Squadron, Offutt AFB, Nebraska (Deployed to OEF/OFS/OIR November 2014 – March 2015)</li>
                <li>March 2015 - July 2015: Officer in Charge, Aircraft Support Flight, 55th Aircraft Maintenance Squadron, Offutt AFB, Nebraska</li>
              </ul>
            </div>
          </div>
        </div>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <h4 class='panel-title'>
              <a data-toggle='collapse' href='#collapse_mitrosz_awards'>Awards and Decoration</a>
            </h4>
          </div>
          <div class='panel-collapse collapse' id='collapse_mitrosz_awards'>
            <div class='panel-body'>
              <ul>
                <li>Air Force Commendation Medal</li>
                <li>Air Force Achievement Medal</li>
                <li>Meritorious Unit Award with one oak left cluster</li>
                <li>Air Force Outstanding Unit Award</li>
                <li>National Defense Service Medal</li>
                <li>Global War On Terrorism Expeditionary Medal</li>
                <li>Global War on Terrorism Service Medal</li>
                <li>Nuclear Deterrence Operations Service Medal</li>
                <li>Air Force Expeditionary Service Ribbon with Gold Border</li>
                <li>Air Force Training Ribbon</li>
              </ul>
            </div>
          </div>
        </div>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <h4 class='panel-title'>
              <a data-toggle='collapse' href='#collapse_mitrosz_promotions'>Effective Dates of Promotion</a>
            </h4>
          </div>
          <div class='panel-collapse collapse' id='collapse_mitrosz_promotions'>
            <div class='panel-body'>
              <ul>
                <li>Second Lieutenant: 15 May 2011</li>
                <li>First Lieutenant: 23 August 2013</li>
                <li>Captain: 23 August 2015</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
