<div class="tab-pane fade" id="rose">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <img class="img-responsive center-block" src="/cadre/petri-rose.jpg"/>
      <h2 class="text-center">Captain Rachel J. Petri-Rose</h2>
      <p>
        Captain Rachel J. Petri-Rose is the operations flight commander, Air Force ROTC, Detachment 925, University of Wisconsin-Madison. As such, she oversees the cadet training program and instructs Aerospace curriculum.
      </p>
      <p>
        Captain Petri-Rose was raised in Racine, Wisconsin, enlisted in the Army in 1994 serving as a supply specialist. In 2004, she enlisted in the Air Force where she served as a computer networking specialist until receiving her commission from Officer Training School in 2008. Prior to her current position, she was the executive officer to the commander of the 22d Mission Support Group at McConnell AFB in Kansas.
      </p>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_rose_education">Education</a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapse_rose_education">
            <div class="panel-body">
              <ul>
                <li>2006 Bachelor of Science, Workforce Education and Development, Southern Illinois University, Carbondale</li>
                <li>2007 Associate in Applied Science, Information Systems Technology, Community College of the Air Force</li>
                <li>2008 Air and Space Basic Course, Maxwell AFB, Alabama</li>
                <li>2011 Practical Applications of Adult Education, Maxwell AFB, Alabama</li>
                <li>2012 Theories and Principles of Adult Education, Maxwell AFB, Alabama</li>
                <li>2012 Squadron Officer School, by correspondence</li>
                <li>2012 Advanced Principles of Instructional Design, Maxwell AFB, Alabama</li>
                <li>2012 Master of Science, Adult Education, Troy University, Montgomery, Alabama</li>
                <li>2012 Squadron Officer School, Maxwell AFB, Alabama</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_rose_assignments">Assignments</a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapse_rose_assignments">
            <div class="panel-body">
              <ul>
                <li>July 2008 - October 2009, Air Transportation Operations Center Duty Officer, 60 APS, Travis AFB, CA</li>
                <li>October 2009 - January 2010, Passenger Operations Asst Officer in Charge, 60 APS, Travis AFB, CA</li>
                <li>January 2010 - February 2011, Passenger Operations Flight Commander, 60 APS, Travis AFB, CA</li>
                <li>February 2011- June 2011, Squadron Executive Officer, 60 LRS, Travis AFB, CA</li>
                <li>June 2011 - August 2011, Air & Space Basic Course Flight Commander, Maxwell AFB, AL</li>
                <li>August 2011 - October 2012, Distance Learning Programmer, Maxwell AFB, AL</li>
                <li>October 2012 - August 2014, Squadron Officer School Flight Commander, Maxwell AFB, AL</li>
                <li>August 2014 - March 2015, Deployment and Distribution Flight Commander, 22 LRS, McConnell AFB, KS</li>
                <li>March 2015 - June 2015, Fuels Management Flight Commander, 22 LRS, McConnell AFB, KS</li>
                <li>July 2015 - March 2016, Executive Officer, 22 MSG, McConnell AFB, KS</li>
                <li>March 2016- present, Operations Flight Commander, AFROTC Det 925, University of Wisconsin-Madison</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_rose_awards">Awards and Decoration </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapse_rose_awards">
            <div class="panel-body">
              <ul>
                <li>Air Force Commendation Medal with three oak leaf clusters</li>
                <li>Joint Service Achievement Medal</li>
                <li>Air Force Good Conduct Medal</li>
                <li>National Defense Service Medal with one oak leaf cluster</li>
                <li>Global War on Terrorism Expeditionary Medal</li>
                <li>Global War on Terrorism Service Medal</li>
                <li>Armed Forces Service Medal</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_rose_promotions">Effective Dates of Promotion</a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapse_rose_promotions">
            <div class="panel-body">
              <ul>
                <li>Second Lieutenant: 18 June 2008</li>
                <li>First Lieutenant: 18 June 2010</li>
                <li>Captain: 18 June 2012     </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
