.page-header
  %h1.text-center
    Welcome Alumni!
%p.text-center
  We here at Detachment 925 hope you have achieved everything you have hoped to in the United States Air Force as an officer and are glad that you're looking us up once again. We would like to hear from you or have you come visit.
%h3{style: 'text-decoration: underline;'}
  Alumni Patches
%blockquote
  Greetings from Detachment 925's Flying Badgers,
  %br
  %br
  %p
    In 2011, Detachment 925 won the National Right of Line Award, establishing it as one of the best detachments in the country. We could not have done this without the hard work and dedication of our cadets, both past and present. In celebrating a legacy of excellence, we are collecting patches from our alumni and the various bases they have been stationed at. We would like to have a variety of patches from many of our alumni as this is a representation of the many AFSCs available to future officers. If you would like to go into detail about your career path after ROTC, that would also be appreciated as many of our cadets are about to commission and it is always exciting to see the accomplishments of Badgers. If you have any questions or concerns, they may be directed to afrotc@mailplus.wisc.edu. We are looking forward to seeing how many patches are sent to us and where they all come from.
  Address for patches:
  %br
  UW-Madison AFROTC
  %br
  1433 Monroe Street
  %br
  Madison, WI 53711
%h3{style: 'text-decoration: underline;'}
  Letters From Alumni
%blockquote
  %p
    I greatly enjoyed and benefited by time in Madison as an Air Force ROTC cadet. In 1951-52 fall and spring semester I served as cadet colonel of the Wisconsin unit and was commissioned a 2nd Lt in the Regular Air Force in June 1952 (Serial #24095A). Lt Col Glenn Stell was then PMS&T and later I met him in Korea. My first duty station was Westover AFB in Massachusetts where I served as commander of the Headquarters Squadron and later as Base Personnel Services Officer. Transferred to Korea in 1953 I was with 5th Air Force Headquarters as Chief of Officers Personnel and later was assigned to the 4th Fighter Int. Wing at Kimpo.
    %br
  %p  
    Following Korea I was assigned to the l005th Special Investigations Group (IG) in Washington D.C. and again was in charge of Officer Personnel for the OSI. I had been promoted to 1st Lt in the usual 18 month period and while in Washington also received my promotion to Regular 1st Lt. Due to demands of a family business I resigned my Regular Commission in August 1955 but took a Reserve Commission and by correspondence took and completed the Squadron Officers School and the Command and Staff College program. In 1967 I was a major and on the lieutenant colonels promotion list when I had to resign my commission again because of the demands of the my business.
    %br
  %p  
    As a bank president I always thought I benefited more from my Air Force service experience than from any other training or work. I enjoyed the Air Force, my assignments and greatly regretted having to resign. During my active duty service I had the unique experience of instructing a Major Fisher who had been one of the ROTC instructors in Madison when he was undergoing OSI training in Washington. I also met a Lieutenant Welch at a West Point meeting where he, as a captain, was on the staff. He had been one of our instructors in Madison.
    %br
  %p  
    After my retirement I became a Florida resident but spend about 4 months each year in Madison. Your Air Force ROTC is much different today than it was over 50 years ago (and much smaller, but probably better trained) but I still feel a sense of pride in having been a member. I would like to stop in and visit when I am again in Madison during a time you are there.
  %footer Richard A. Larson
.row
  .col-md-6
    %h3{style: 'text-decoration: underline;'}
      Give us a SITREP!
    %p
      Let us know what you have been up to since commissioning and how you have aspired further. Send us letters, photos, videos, war stories; anything about what you have been doing as an officer that isn't classified.
  .col-md-6
    %h3{style: 'text-decoration: underline;'}
      Come visit the detachment!
    %p
      Come back to your Alma Mater and visit with old friends and mentors, even talk with the new cadets.
      %br
      Whatever you do, we would like to hear from you and how Det 925 and the Air Force have helped you achieve your goals.
      %br
      %br
      Get in touch with us at 
      %a(href="mailto: afrotc@mailplus.wisc.edu")
        afrotc@mailplus.wisc.edu