<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="page-header">
      <h1 class="text-center">
        Color Guard
      </h1>
    </div>
    <%= render 'carousel' %>
    <div class="page-header">
      <h1 class="text-center">
        Drill Team
      </h1>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://docs.google.com/file/d/0Bxa2A-oqU2xkbFB4NjZYdWdfR0k/preview" width="640" height="480"></iframe>
    </div>
  </div>
</div>
