= render 'subnav', image_location: '/wk quiz.jpg'

.container.prospective
  .page-header
    %h1 Prospective Students
  %p{style: 'text-indent: 0;'}
    = link_to 'How to join AFROTC', 'http://www.afrotc.com/admissions/'
    %br
    = link_to 'Scholarship opportunities', 'http://afrotc.com/scholarships'
  %h2 Aerospace Studies Curriculum
  %h4 AS101 Air Force Today I
  %p
    Introduction to the U.S. Air Force and Air Force ROTC. This course will focus on officership and professionalism, military customs and courtesies, and communication skills. Leadership Laboratory will emphasize the application of customs and courtesies, health and physical fitness, and drill and ceremonies. (1 credit)
  %h4 AS102 Air Force Today II
  %p
    Introduction to the history and organization of the U.S. Air Force. The origin of the Air Force will be described and the current command structure will be reviewed. Leadership Laboratory will continue to emphasize the application of customs and courtesies, health and physical fitness, and drill and ceremonies. (1 credit) 
  %h4 AS201 Evolution of Air and Space Power I
  %p
    The Evolution of USAF Air and Space Power I survey course is designed to facilitate the transition from Air Force cadet to Air Force Officer candidate. Air Force heritage, leaders, and history are covered. Leadership Laboratory continued. (1 credit) 
  %h4 AS202 Evolution of Air and Space Power II
  %p
    The Evolution of USAF Air and Space Power II continues study of topics coved in AS 201. Concepts of ethical behavior, basics of leadership, Air Force officer environment, group leadership problems, and oral communication application. Leadership Laboratory continued. (1 credit) 
  %h4 AS301 Air Force Leadership Studies I
  %p
    Study of leadership authority, principles and accountability, management fundamentals, oral and written presentation and counseling skills required of an Air Force junior officer. Advanced Leadership Laboratory compliments this course by providing leadership experience in officer-type activities. (3 credits) 
  %h4 AS302 Air Force Leadership Studies II
  %p
    Study of professional knowledge, motivation, empowerment, mentoring, delegation, quality management, Air Force personnel and evaluation systems, leadership ethics, and oral and written presentation skills required of an Air Force junior officer. Continuation of Advanced Leadership Laboratory. (3 credits) 
  %h4 AS401 National Security Affairs
  %p
    This course is designed for college seniors and give the foundation to understand their role as military officers in American society. The course closely examines the national security process, regional studies, Air Force doctrine, and current issues affecting the military profession. Emphasis is also given on refining oral and written communication skills. Continuation of Advanced Leadership Laboratory. (3 credits) 
  %h4 AS402 Preparation for Active Duty
  %p
    Designed for college seniors and gives them the foundation to understand their role as military officers in American society. This course builds upon the subject matter previously covered in AS 401 and also further examines regional studies, advanced leadership ethics, military justice, the military as a profession, and officership. Preparation for active duty life is one of the core elements of this course, and students will learn the role of an Air Force commander in addition to the different services and programs available on a military installation. Emphasis is also given on refining oral and written communication skills. Continuation of Advanced Leadership Laboratory. (3 credits)
  %h4 Leadership Laboratory
  %p
    A study of Air Force customs and courtesies, drill and ceremonies, issuing military commands, instructing, directing and evaluating the preceding skills, studying the environment of an Air Force officer and learning about areas of opportunity as available to commissioned officers. Planning and controlling of military activities of the cadet corps, preparation and presentation of briefings and other oral and written communications. Providing interviews, guidance, and information which will increase the understanding, motivation, and performance of other cadets.