.container-fluid
  .text-center
    %p
      UW-Madison AFROTC, 1433 Monroe St, Madison, WI 53711 
    %p
      Phone: (608) 262-3440 Fax: (608) 262-9577 Email: afrotc@mailplus.wisc.edu 
    %p
      = link_to 'Privacy Notices and Disclaimers', '#'
      |
      = link_to 'AirForce.com', 'www.airforce.com'
      |
      = link_to 'Air Force Home', 'www.af.mil'
      |
      = link_to 'Holm Center', 'www.au.af.mil/au/holmcenter/index.asp'