<div class="container-fluid">
  <div class="text-center">
    <p>
      UW-Madison AFROTC, 1433 Monroe St, Madison, WI 53711 
    </p>
    <p>
      Phone: (608) 262-3440 | Fax: (608) 262-9577 | Email: 
      <a href="mailto: afrotc@mailplus.wisc.edu"> afrotc@mailplus.wisc.edu </a>
    </p>
    <p>
      <%= link_to 'Privacy Notices and Disclaimers', '/privacy' %>
      |
      <%= link_to 'AirForce.com', 'www.airforce.com' %>
      |
      <%= link_to 'Air Force Home', 'www.af.mil' %>
      |
      <%= link_to 'Holm Center', 'www.au.af.mil/au/holmcenter/index.asp' %>
    </p>
  </div>
</div>
