#menu.navbar.navbar-default{:role => "navigation"}
  .container
    .navbar-header
      %strong.navbar-brand
        / %img{src: '/af logo.png', style: 'padding-bottom: 5px; height: 30px; width: 30px'}
        Det 925
      %button.navbar-toggle{"data-target" => ".navbar-menubuilder", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse.navbar-menubuilder
      %ul.nav.navbar-nav.navbar-left
        %li= link_to 'Home', root_path
        %li= link_to 'Cadet Area', '/under_construction'

