= render 'cadet_area/header', page: :home
.row
  .col-md-8
    %h1 News
    %hr
    %p News and other things will go here
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h4 Events This Week
      .panel-body
        %p Events will go here