<%= render 'cadet_area/header', page: :home %>
<div class="row">
  <div class="col-md-8">
    <h1>News</h1>
    <hr/>
    <p>News and other things will go here</p>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Events This Week</h4>
      </div>
      <div class="panel-body">
        <p>Events will go here</p>
      </div>
    </div>
  </div>
</div>
